.body1 {
    background-image: url("Turntable.jpg");
    background-size: 130rem;
    background-repeat: no-repeat;
    background-attachment: fixed

}

.card1-bg {
    background-color: rgba(255, 255, 255, 0.2)
    
}